/* Table Of Content 

  1. RESET
  2. HEADER
  3. MENU
  4. MAIN
  5. FOOTER
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.menu-mobile{
    display: none;
}

/* HEADER */
.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #D9D9D9;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo{
    color: #0777E3;
}

.logo{
    font-weight: normal;
    font-size: 22px;
}

/* MENU */
.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #0D0D0D;
    font-size: 22px;
    text-decoration: none;
    margin-right: 20px;
    border-bottom: solid #0D0D0D;
}

.menu a:hover{
    color: #0777E3;
    border-bottom: solid #0777E3;
}

.menu .btn-contact{
    background-color: #0777E3;
    padding: 6px 12px;
    color: #0D0D0D;
    border-radius: 8px;
}

.menu .btn-contact:hover{
    background-color: #0D0D0D;
    color: #0777E3;
}

.menu-items{
    position: absolute;
    left:0;
    top:60px;
    width:100%;
    text-align: center;
    background-color: #D9D9D9;
    border-bottom:2px solid #404040;
    font-size: 22px;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show{
    opacity: 1;
}

.menu-items.hidde{
    opacity: 0;
}

.menu-items a{
    display: block;
    text-decoration: none;
    color:#404040;
}

.menu-items a:hover{
    color: #0D0D0D;
}

/* MAIN */
section.main{  
    background-image: url("../Images/Background.png");
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.introduction{
    width: 100%;
    text-align: center;
}

.introduction h2{
    color: #D9D9D9;
    font-size: 40px;
}

.introduction p{
    color: #D9D9D9;
    font-size: 19px;
    margin: 10px 0;
}

.introduction button{
    background-color: #D9D9D9;
    display: inline-block;
    padding: 8px 30px;
    color: #0777E3;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.introduction button:hover{
    background-color: #0D0D0D;
    color: #0777E3;
}

.about{
    width: 100%;
    text-align: center;
}

.about h2{
    color: #D9D9D9;
    margin: 10px 0;
    font-size: 40px;
}

.about p{
    color: #D9D9D9;
    font-size: 19px;
    margin: 10px 0;
}

.my-skills h2{
    text-align: center;
    color: #D9D9D9;
    margin: 15px;
    font-size: 40px;
}

.skills{
    margin-top: 50px;
    display: flex;
    color: #404040;
    flex-wrap: wrap;
}

.skill-single{
    background-color: #D9D9D9;
    width: 23%;
    margin-right: 2%;
    text-align: center;
    padding: 50px 20px;
}

.skill-single i{
    color: #0777E3;
    font-size: 23px;
}

.skill-single h2{
    color: #0777E3;
    margin: 10px 0;
    font-size: 17px;
}

.skill-single p{
    color: #404040;
    font-size: 16px;
    line-height: 30px;    
}

section.my-works{
    background-color:#D9D9D9;
}

.my-works h2{
    font-size: 40px;
    padding: 25px 0 40px;
    color: #0777E3;
    text-align: center;
}

.my-work-single{
    width:46%;
    margin-right: 4%;
    text-align: center;
    padding-bottom: 40px;
}

.my-work-single h2{
    font-size: 30px;
}

.my-work-single img{
    max-width: 100%;
}

.my-work-single img{
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 1s;
}

.my-work-single img:hover{
    transform: scale(1.1,1.1);
    filter: grayscale(0);
}

/*FOOTER*/
footer{
    background-color:#404040 ;
}

footer h2{
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    color: #D9D9D9;
}

.social-icons{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

.copyright{
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .skill-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .menu{
        display: none;
    }
    
    .logo{
        width: 20%;
    }

    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }

    .menu-mobile i{
        cursor: pointer;
        font-size: 26px;
        margin-top: 8px;
    }
}
